modules = ["nodejs-20", "web", "postgresql-16", "python-base-3.13"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5904
externalPort = 3000

[[ports]]
localPort = 23636
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_database:1.0.0", "javascript_object_storage:2.0.0", "sendgrid:1.0.0", "resend:1.0.0", "onedrive:1.0.0", "sharepoint:1.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-2a231b3f-9163-4468-a7fc-f5394daab098"

[userenv]

[userenv.shared]
FROM_EMAIL = "notifications@stockfixapp.online"
PRIVATE_OBJECT_DIR = "/FrankGuiltyMatrix/private"
PUBLIC_OBJECT_SEARCH_PATHS = "/FrankGuiltyMatrix/public"
